:root {
    --butColor: #735c8e;
    --btnTextColor: white;
    --shiftColor: #3c215c;
}

*{
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'sans-serif';

}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: var(--butColor);
}
header h1 {
    font-size: 1.5rem;
}
#scoreBord {
    margin-right: 10px;
}

#startQuizBtn {
    color: var(--btnTextColor);
    background-color: var(--butColor);
 }

 /* Start screen*/
 .startInfo {
    margin-top: 4%;
    display: grid;
    place-items: center;
    grid-template: 1fr .5fr .3fr / .2fr 1fr .2fr;
 }

.startInfo h2 {
    margin-bottom: 4%;
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 2.2rem;
}
.startInfo p {
    margin-bottom: 4%;
    display: flex;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 1.19rem;
}
.startInfo button{
    grid-column-start: 2;
    grid-row-start: 3;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
#startQuizBtn:hover {
    background-color: var(--shiftColor);
}

/*Question screen*/
.questionsPage{
    margin-top: 4%;
    display: grid;
    place-items: center;
    grid-template: repeat(5 1fr) / repeat(3 1fr);
    display: none;
}
.questionsPage button {
    background-color: var(--butColor);
    color: var(--btnTextColor);
    margin: 5px;
}
.questionsPage button:hover {
    background-color: var(--shiftColor);
}