:root {
    --butColor: #987bb9;
    --btnTextColor: white;
    --shiftColor: #4d2c75;
}

*{
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'sans-serif';

}

/*Heder*/
header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: var(--butColor);
}
header h1 {
    font-size: 1.5rem;
}
#score {
    margin-right: 10px;
}
.scoreBoard {
    flex-flow: row;
}

#startQuizBtn {
    color: var(--btnTextColor);
    background-color: var(--butColor);
 }

 /* Start screen*/
 .startInfo {
    margin-top: 4%;
    display: grid;
    place-items: center;
    grid-template: 1fr .5fr .3fr / .2fr 1fr .2fr;
 }

.startInfo h2 {
    margin-bottom: 4%;
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 2.2rem;
}
.startInfo p {
    margin-bottom: 4%;
    display: flex;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 1.19rem;
}
.startInfo button{
    grid-column-start: 2;
    grid-row-start: 3;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
#startQuizBtn:hover {
    background-color: var(--shiftColor);
}

/*Question screen*/
.questionsPage{
    margin-top: 4%;
    display: grid;
    grid-template: repeat(6, .5fr)/repeat(3, 1fr);
    display: none;
}
#question {
    font-size: 1.2rem;
    grid-column-start: 2;
    margin-bottom: 1%;
}
.questionsPage button {
    font-size: 1.04rem;
    grid-column-start: 2;
    background-color: var(--butColor);
    text-align: left;
    color: var(--btnTextColor);
    margin: 3px;
    max-width: 190px;
}
.questionsPage button:hover {
    background-color: var(--shiftColor);
}
#validate {
    color: rgb(206, 198, 198);
    font-size: 1rem;
    grid-row-start: 6;
    grid-column-start: 2;
    
}